.home {
  max-width: 1500px;
  margin: 0 auto;
}
.home__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.home__row {
  display: flex;
  z-index: 1;
  margin: 0 10px;
}

@media (max-width: 800px) {
  .home__row {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin: 0 10px;
    align-items: center;
  }
}

.signIn__block {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  align-items: center;
  background-color: violet;
}

.home__giftCard {
  height: 210px;
  width: 200px;
  display: block;
  object-fit: contain;
  margin: 10px;
  background-color: black;
  width: 280px;
  background-image: url("https://m.media-amazon.com/images/G/02/UK-hq/2020/img/Giftcard/XCM_Manual_1297631_1519586_UK_uk_holiday_house_ads_ukgc_gb_en_3609798_300x250_en_GB.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home__bottomImage {
  background-color: white;
  margin: 10px 20px 10px 20px;
  width: 94%;
  padding: 20px;
  height: 300px;
  object-fit: contain;
}
