.footer {
  margin-top: 20px;
}

.footer__backToTopText {
  background-color: #37475a;
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.footer__backToTopText:hover {
  background-color: #495a6d;
}

.footer__info {
  height: 400px;
  background-color: #232f3e;
}
